
.carousel .list .item:nth-child(1){
    z-index: 1; 
}
.carousel .list .item:nth-child(1) .content,
.carousel .list .item:nth-child(1) .title,
.carousel .list .item:nth-child(1) .category,
.carousel .list .item:nth-child(1) .des,
.carousel .list .item:nth-child(1) .info{
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent 0.5s 1s linear 1 forwards;
}
@keyframes showContent{
    to{
        opacity: 1;
        filter: blur(0);
        transform: translateY(0);
    }
}
.carousel .list .item:nth-child(1) .title{
    animation-delay: 1.2s;
}

.carousel .list .item:nth-child(1) .category{
    animation-delay: 1.4s;
}
.carousel .list .item:nth-child(1) .des{
    animation-delay: 1.6s;
}
.carousel .list .item:nth-child(1) .info{
    animation-delay: 1.8s;
}



